# Default configuration for ESP32 Smart Compass

#
# BT config
#
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y

#
# Display config
#
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_CONF_MINIMAL=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_COLOR_DEPTH=16
CONFIG_LV_COLOR_MIX_ROUND_OFS=128
CONFIG_LV_COLOR_CHROMA_KEY_HEX=0x00FF00
CONFIG_LV_USE_THEME_DEFAULT=y

#
# LVGL ESP Drivers
#
CONFIG_LV_TFT_DISPLAY_CONTROLLER_ST7735S=y
CONFIG_LV_TFT_DISPLAY_USER_CONTROLLER_ST7735S=y
CONFIG_LV_TFT_DISPLAY_SPI2_HOST=y
CONFIG_LV_TFT_DISPLAY_SPI_TRANS_MODE_SIO=y
CONFIG_LV_TFT_DISPLAY_SPI_HALF_DUPLEX=y
CONFIG_LV_TFT_CUSTOM_SPI_CLK_DIVIDER=2
CONFIG_LV_TFT_DISPLAY_PROTOCOL_SPI=y
CONFIG_LV_HOR_RES_MAX=128
CONFIG_LV_VER_RES_MAX=160
CONFIG_LV_DISPLAY_ORIENTATION_PORTRAIT=y

#
# Display Pin Assignments
#
CONFIG_LV_DISP_SPI_MOSI=23
# CONFIG_LV_DISPLAY_USE_SPI_MISO is not set
CONFIG_LV_DISP_SPI_CLK=18
CONFIG_LV_DISPLAY_USE_SPI_CS=y
CONFIG_LV_DISP_SPI_CS=5
CONFIG_LV_DISPLAY_USE_DC=y
CONFIG_LV_DISP_PIN_DC=2
CONFIG_LV_DISP_USE_RST=y
CONFIG_LV_DISP_PIN_RST=4
CONFIG_LV_DISP_PIN_BUSY=35
# end of Display Pin Assignments
